<template>
    <div class="relative p-2 w-full xl:w-3/4 mx-auto">
        <n-layout>
            <n-layout-header>
                <div class="flex gap-2">
                    <div class="flex-1 text-lg font-medium">Account</div>
                </div>
            </n-layout-header>
            <n-layout-content class="mt-4">
                <div class="flex flex-row gap-4">
                    <div class="flex-1">
                        <div class="font-medium text-lg mb-4">Profile Information</div>
                        <n-card v-if="!showEditProfile" size="small">
                            <div class="flex flex-col gap-2">
                                <div>
                                    <div class="text-sm text-gray-500">Name</div>
                                    <div class="text-lg">{{ admin.completename }}</div>
                                </div>
                                <div>
                                    <div class="text-sm text-gray-500">Username</div>
                                    <div class="text-lg">{{ admin.username }}</div>
                                </div>
                                <div>
                                    <div class="text-sm text-gray-500">Email</div>
                                    <div class="text-lg">{{ admin.email }}</div>
                                </div>
                                <div class="flex flex-row justify-end">
                                    <n-button @click="showEditProfile = true">Edit Profile</n-button>
                                </div>
                            </div>
                        </n-card>
                        <n-card v-else size="small">
                            <AdminUserUpdate v-model="$store.state.admin"
                                @success="successMsg('Profile changed successfully!'), showEditProfile = false"
                                @cancel="showEditProfile = false" />
                        </n-card>
                    </div>
                    <div class="flex-1">
                        <div class="font-medium text-lg mb-4">Change Password</div>
                        <n-card>
                            <AdminUserChangePassword @success="successMsg('Password changed successfully!')"/>
                        </n-card>
                    </div>
                </div>
            </n-layout-content>
        </n-layout>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import AdminUserUpdate from '~/components/admin/forms/AdminUserUpdate.vue'
import AdminUserChangePassword from '~/components/admin/forms/AdminUserChangePassword.vue'
export default {
    components: { AdminUserUpdate, AdminUserChangePassword },
    data() {
        return {
            showEditProfile: false
        }
    },
    methods: {
        successMsg(str) {
            window.$message.success(str)
        }
    },
    computed: mapState({
        admin(state) {
            return state.admin
        }
    })
}
</script>