<template>
    <div class="relative p-2 w-full xl:w-3/4 mx-auto">
        <n-layout>
            <n-layout-header>
                <div class="flex gap-2 p-2">
                    <div class="flex-1 text-lg font-medium">Admins</div>
                    <div>
                        <n-button @click="adminsModal = true" type="info">Add Admin</n-button>
                    </div>
                </div>
            </n-layout-header>
            <n-layout-content class="p-2">
                <div>
                </div>
                <n-table v-if="admins.length >= 1" size="small">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Created</th>
                            <th>Modified</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(a,i) in admins" :key="i">
                            <td>{{ a.completename }}</td>
                            <td>{{ a.username }}</td>
                            <td>{{ a.email }}</td>
                            <td class="w-1 whitespace-nowrap">{{ moment(a.created_at).format('lll') }}</td>
                            <td class="w-1 whitespace-nowrap" :title="moment(a.updated_at).format('lll')">
                                {{ moment(a.updated_at).fromNow() }}
                            </td>
                            <td class="w-1 whitespace-nowrap">
                                <n-button class="mr-2" type="success" size="small" @click="showUpdateModal(a, true)">Change Password</n-button>
                                <n-button size="small" @click="showUpdateModal(a)">Edit</n-button>
                            </td>
                        </tr>
                    </tbody>
                </n-table>
                <n-empty v-else description="No admins found." />
            </n-layout-content>
        </n-layout>
    </div>
    <n-modal v-model:show="adminsModal" :mask-closable="false" title="Add Admin" preset="card" style="width:600px">
        <AdminsCreate @cancel="adminsModal = false" @success="successAdmin" />
    </n-modal>
    <n-modal v-model:show="adminsUpdateModal" :mask-closable="false" title="Edit Admin" preset="card" style="width:600px">
        <AdminsUpdate @cancel="adminsUpdateModal = false" @success="successAdmin" v-model="admin" :password-only="adminsUpdatePassword" />
    </n-modal>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import AdminsCreate from '~/components/admin/forms/AdminsCreate.vue'
import AdminsUpdate from '~/components/admin/forms/AdminsUpdate.vue'
export default {
    components: { AdminsCreate, AdminsUpdate },
    data() {
        return {
            moment,
            admins: [],
            admin: {},
            adminsModal: false,
            adminsUpdateModal: false,
            adminsUpdatePassword: false
        }
    },
    created() {
        this.getAdmins()
    },
    methods: {
        async getAdmins() {
            const { data } = await API.get('/admins')
            this.admins = data
        },
        showUpdateModal(data, passwordOnly=false) {
            this.admin = data
            this.adminsUpdatePassword = passwordOnly
            this.adminsUpdateModal = true
        },
        successAdmin() {
            this.adminsModal = false
            this.adminsUpdateModal = false
            this.getAdmins()
        }
    }
}
</script>