<template>
    <n-layout position="absolute">
        <n-layout-header :inverted="true">
            <div class="flex flex-row p-2 items-center">
                <div style="width:250px" class="flex flex-row gap-2 justify-center items-center">
                    <n-image :width="40" src="/images/logo/citcs.png" />
                    <n-image :width="40" src="/images/logo/qsu.png" />
                    <div>
                        <div class="font-medium">Validation Exam</div>
                        <div class="text-sm">QSU-CITCS</div>
                    </div>
                </div>
                <div class="flex-1">
                    <div class="font-medium">{{ admin.username }}</div>
                    <div class="text-sm">{{ admin.fullname }}</div>
                </div>
            </div>
        </n-layout-header>
        <n-layout position="absolute" has-sider style="top: 64px">
            <n-layout-sider bordered width="250">
                <div v-if="admin.is_password_default" class="mb-2 bg-red-600 text-white px-2 py-1 flex flex-row gap-2 items-center justify-center">
                    <n-icon color="#fff"><WarningIcon/></n-icon>
                    <div>Change your password.</div>
                </div>
                <n-menu :options="menu" :value="selected" :default-expand-all="true" @update:value="menuSelect"></n-menu>
            </n-layout-sider>
            <n-layout-content>
                <router-view></router-view>
            </n-layout-content>
        </n-layout>
    </n-layout>
    <n-modal v-model:show="courseModal" :mask-closable="false" title="Add Course" preset="card" style="width:600px" >
        <CourseCreate @cancel="courseModal = false" @success="showCourse" />
    </n-modal>
</template>
<script>
import API from '~/api'
import { mapState } from 'vuex'
import { h, resolveComponent } from 'vue'
import { NIcon, NImage } from 'naive-ui'
import {
    Home as HomeIcon,
    Add as AddIcon,
    Briefcase as BriefcaseIcon,
    Book as BookIcon,
    People as PeopleIcon,
    PeopleCircle as PeopleCircleIcon,
    Business as BusinessIcon,
    Documents as DocumentsIcon,
    Person as PersonIcon,
    LockClosed as LockClosedIcon,
    Newspaper as NewspaperIcon,
    Warning as WarningIcon
} from '@vicons/ionicons5'
import CourseCreate from '~/components/admin/forms/CourseCreate.vue'

const renderLabel = (toName, label) => {
    return h(resolveComponent('router-link'),
        { to: { name: toName } },
        { default: () => label }
    )
}

const renderIcon = (icon) => {
    return () => h(NIcon, null, { default: () => h(icon) })
}

export default {
    components: { CourseCreate, NImage, PersonIcon, NIcon, WarningIcon },
    data() {
        return {
            courseModal: false,
        }
    },
    created() {
        this.getCourses()
    },
    methods: {
        async getCourses() {
            const { data } = await API.get('/courses')
            this.$store.commit('setCourses', data)
        },
        showCourse(data) {
            this.courseModal = false
            const courses = this.$store.state.courses
            courses.push(data)
            this.$store.commit('setCourses', courses)
            this.$router.push({ name:'courses', params: {uuid:data.uuid} })
        },
        menuSelect(key) {
            switch (key) {
                case 'add-course':
                    this.courseModal = true
                    break;

                case 'logout':
                    location.href = '/administrator/logout'
                    break;
            }
        }
    },
    computed: {
        ...mapState({
            menu (state) {
                const courses = () => {
                    const data = [{
                        label: 'Add Course',
                        key: 'add-course',
                        icon: renderIcon(AddIcon)
                    }]

                    if (state.courses) state.courses.forEach(e => {
                        data.push({
                            label: () => h(resolveComponent('router-link'),
                                { to: { name:'courses', params: {uuid:e.uuid}} },
                                { default: () => e.acronym }
                            ),
                            key: e.uuid,
                            icon: renderIcon(BookIcon)
                        })
                    })
                    return data
                }

                const menu = [
                    {
                        label: () => renderLabel('home', 'Home'),
                        key: 'home',
                        icon: renderIcon(HomeIcon)
                    },{
                        label: () => renderLabel('exam-timeline', 'Exam Timeline'),
                        key: 'exam-timeline',
                        icon: renderIcon(NewspaperIcon)
                    },{
                        label: () => renderLabel('question-bank', 'Question Bank'),
                        key: 'question-bank',
                        icon: renderIcon(DocumentsIcon)
                    },{
                        label: 'Courses',
                        key: 'courses',
                        icon: renderIcon(BriefcaseIcon),
                        children: courses()
                    },{
                        label: () => renderLabel('students', 'Students'),
                        key: 'students',
                        icon: renderIcon(PeopleIcon)
                    },{
                        label: () => renderLabel('schools', 'Schools'),
                        key: 'schools',
                        icon: renderIcon(BusinessIcon)
                    },
                ]
                if (state.admin.is_super >= 1) menu.push({
                    label: () => renderLabel('admins', 'Admins'),
                    key: 'admins',
                    icon: renderIcon(PeopleCircleIcon)
                })

                return menu.concat([
                    {
                        key: 'divider-1',
                        type: 'divider',
                    },{
                        label: () => renderLabel('account', 'Account'),
                        key: 'account',
                        icon: renderIcon(PersonIcon)
                    },{
                        label: 'Logout',
                        key: 'logout',
                        icon: renderIcon(LockClosedIcon)
                    }
                ])
            },
            admin(state) {
                return state.admin
            }
        }),
        selected() {
            const { name, params } = this.$route
            return (name == 'courses') ? params.uuid : name
        }
    }
}
</script>