<template>
    <br><br>
    <n-result
        status="404"
        title="404 Page Not Found"
        description="Oops we couldn't find the page."
    >
        <template #footer>
            <n-button @click="$router.push({name:'home'})">Go back home</n-button>
        </template>
  </n-result>
</template>
<script>
import { NResult } from 'naive-ui'
export default {
    components: { NResult }
}
</script>