<template>
    <n-layout position="absolute" has-sider>
        <n-layout-sider bordered width="280">
            <div class="p-2">
                <div class="flex gap-2">
                    <div class="flex-1">
                        <div class="text-lg font-medium">{{ course.acronym }}</div>
                        <div class="text-sm">{{ course.title }}</div>
                    </div>
                    <n-button size="small" @click="courseModal =  true, courseFormValue = {...course}">Edit</n-button>
                </div>
            </div>
            <n-menu :options="subjectsMenu" :value="subjectSelected" @update:value="showSubjectModal" />
        </n-layout-sider>
        <n-layout-content>
            <CoursesSubjects :uuid="subjectSelected"/>
        </n-layout-content>
    </n-layout>
    <n-modal v-model:show="courseModal" :mask-closable="false" title="Edit Course" preset="card" style="width:600px" >
        <CourseUpdate :id="course.id" v-model="course" @cancel="courseModal = false" @success="courseModal = false" />
    </n-modal>
    <n-modal v-model:show="subjectModal" :mask-closable="false" title="Add Subject" preset="card" style="width:600px" >
        <SubjectCreate @cancel="subjectModal = false" @success="showSubject" :courseId="course.id" />
    </n-modal>
</template>
<script>
import API from '~/api'
import { h, resolveComponent } from 'vue'
import { NIcon } from 'naive-ui'
import { Reader as ReaderIcon, Add as AddIcon} from '@vicons/ionicons5'
import CourseUpdate from '~/components/admin/forms/CourseUpdate.vue'
import CoursesSubjects from '~/components/admin/CoursesSubjects.vue'
import SubjectCreate from '~/components/admin/forms/SubjectCreate.vue'
export default {
    props: ['uuid'],
    components: { CoursesSubjects, CourseUpdate, SubjectCreate },
    data() {
        return {
            course: {
                id: 0,
                acronym: 'Course',
                title: 'Untitled',
                subjects: []
            },
            courseModal: false,
            subjectModal: false,
        }
    },
    created() {
        this.getCourse()
    },
    methods: {
        async getCourse() {
            const { data } = await API.get(`/courses/${this.uuid}`)
            this.course = data
        },
        showSubjectModal(key) {
            if (key != 'add') return
            this.subjectModal = true
        },
        showSubject(data) {
            this.subjectModal = false
            this.course.subjects.push(data)
            this.$router.push({ query:{subject:data.uuid} })
        }
    },
    computed: {
        subjectsMenu() {
            const renderIcon = (icon) => {
                return () => h(NIcon, null, { default: () => h(icon) })
            }

            const subjects = [{
                label: 'Add Subject',
                key: 'add',
                icon: renderIcon(AddIcon)
            }]
            this.course.subjects.forEach(e => {
                subjects.push({
                    label: () => h(resolveComponent('router-link'),
                        { to: { query: {subject:e.uuid}} },
                        { default: () => e.title }
                    ),
                    key: e.uuid,
                    icon: renderIcon(ReaderIcon)
                })
            })

            return subjects
        },
        subjectSelected() {
            const { subject } = this.$route.query
            return subject || null
        },
    },
    watch: {
        uuid() {
            this.getCourse()
        }
    },
}
</script>