<template>
    <div v-if="subject.id" class="p-2 w-full xl:w-3/4 mx-auto">
        <div class="flex flex-row gap-2">
            <div class="flex-1">
                <div class="font-medium text-xl">{{ subject.title }}</div>
                <div class="text-sm text-gray-600">
                    Created by <b>{{ subject.admin.fullname }}</b> on <b>{{ moment(subject.created_at).format('lll') }}</b>,
                    modified <b :title="moment(subject.updated_at).format('lll')">{{ moment(subject.updated_at).fromNow() }}</b>.
                </div>
            </div>
            <SubjectPublish :id="subject.id" v-model="subject"/>
            <div>
                <n-button size="large" :disabled="btnPublish.disabled" @click="showSubjectModal()" title="Rename Subject">
                    <template #icon>
                        <n-icon><PencilIcon/></n-icon>
                    </template>
                </n-button>
            </div>
        </div>

        <n-card size="small" title="Questionnaire" class="mt-4">
            <div class="flex flex-row gap-2">
                <div>
                    <n-icon :size="30"><ReaderIcon/></n-icon>
                </div>
                <div v-if="!question" class="flex-1">
                    <div class="font-medium text-lg">No questionnaire has been added.</div>
                </div>
                <div v-else class="flex-1">
                    <div class="font-medium text-lg">{{ question.title }}</div>
                    <div class="flex flex-row gap-2 text-sm text-gray-600 mb-2">
                        <div>By <b>{{ question.admin.fullname }}</b></div>
                        <div><b>{{ question.items.length }}</b> Items</div>
                        <div v-if="question.time">Timer: <b>{{ question.time_str }}</b></div>
                    </div>
                    <n-progress type="line"
                        :color="question.progressColor"
                        :percentage="question.progress.percent"
                        :height="15"
                        :border-radius="4"/>
                </div>
                <SubjectAddQuestion v-if="!subject.published" v-model="subject" />
            </div>
        </n-card>

        <div v-if="students.length >= 1" class="mt-4">
            <div class="font-medium text-lg mb-2">Students</div>
            <n-table size="small">
                <thead>
                    <tr>
                        <th>Student</th>
                        <th>Questionnaire</th>
                        <th>Results</th>
                        <th>Date & Time</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="s in students" :key="s.uuid">
                        <td>{{ s.students.fullname }}</td>
                        <td>
                            <div>{{ s.questions_title }}</div>
                            <div class="flex flex-row gap-4 text-sm">
                                <div><b>{{ s.items_count }}</b> Items</div>
                                <div>Time: <b>{{ s.time_str }}</b></div>
                            </div>
                        </td>
                        <td>
                            <div>{{ s.results.percent }}%</div>
                            <div class="flex flex-row gap-2 text-sm">
                                <div><b>{{ s.results.correct }}</b> Correct</div>
                                <div><b>{{ s.results.wrong }}</b> Wrong</div>
                                <div><b>{{ s.results.missed }}</b> Missed</div>
                            </div>
                        </td>
                        <td>
                            <div>{{ moment(s.started_at).format('ll') }}</div>
                            <div class="text-sm">{{ moment(s.started_at).format('LTS') }} - {{ moment(s.finished_at).format('LTS') }}</div>
                        </td>
                    </tr>
                </tbody>
            </n-table>
            <n-pagination class="mt-2" v-model:page="studentsPage" :page-count="studentsPageCount"/>
        </div>

    </div>
    <div v-else class="p-4">
        <n-empty description="Select subject in course's menu">
            <template #icon><n-icon><ReaderIcon /></n-icon></template>
        </n-empty>
    </div>
    <n-modal v-model:show="subjectModal" :mask-closable="false" title="Rename Subject" preset="card" style="width:600px" >
        <SubjectRename @cancel="subjectModal = false" @success="subjectModal = false" :id="subject.id" v-model="subject" />
    </n-modal>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import { NIcon, useThemeVars } from 'naive-ui'
import { Reader as ReaderIcon, Pencil as PencilIcon } from '@vicons/ionicons5'
import SubjectRename from '~/components/admin/forms/SubjectRename.vue'
import SubjectPublish from '~/components/admin/forms/SubjectPublish.vue'
import SubjectAddQuestion from '~/components/admin/forms/SubjectAddQuestion.vue'
export default {
    props: ['uuid'],
    components: { NIcon, ReaderIcon, PencilIcon, SubjectRename, SubjectPublish, SubjectAddQuestion },
    setup() {
        return {
            colorVars: useThemeVars()
        }
    },
    data() {
        return {
            moment,
            subject:{
                id: 0,
                title: 'Untitled',
                admin: {}
            },
            students: [],
            studentsPage: 1,
            studentsPageCount: 1,
            subjectModal: false,
        }
    },
    created() {
        this.getSubject()
    },
    methods: {
        async getSubject(page=1) {
            if (!this.uuid || this.uuid == '') return
            const { data } = await API.get(`/subjects/${this.uuid}?page=${page}`)
            this.subject = data
            this.students = data.students.data
            this.studentsPageCount = data.students.last_page
        },
        showSubjectModal() {
            if (this.subject.published) return
            this.subjectModal = true
        },
    },
    computed: {
        btnPublish() {
            if (this.subject.published) {
                return { type:'default', text:'Published', disabled:true }
            } else {
                return { type:'success', text:'Publish', disabled:false }
            }
        },
        question() {
            const { questions } = this.subject
            if (!questions) return false

            const progressColor = this.colorVars[`${questions.progress.status}Color`]
            return {...questions, progressColor}
        }
    },
    watch: {
        uuid() {
            this.getSubject()
        },
        studentsPage(val) {
            this.getSubject(val)
        }
    }
}
</script>