<template>
    <div class="relative p-2 w-full xl:w-3/4 mx-auto">
        <n-layout>
            <n-layout-header>
                <div class="flex gap-2">
                    <div class="flex-1 text-lg font-medium">Exam Timeline</div>
                    <div class="w-40">
                        <n-select v-model:value="optionsParams.course" :options="courses"/>
                    </div>
                </div>
            </n-layout-header>
            <n-layout-content class="mt-4">
                <div v-if="timeline.length >= 1">
                    <div class="flex flex-col gap-4">
                        <div v-for="exam in timeline" :key="exam.date">
                            <div class="font-medium text-xl mb-2">{{ moment(exam.date).format('ll') }}</div>
                            <n-card size="small" class="flex flex-col gap-2">
                                <div v-for="student in exam.students" :key="student.uuid">
                                    <div class="flex flex-row gap-2 mb-2">
                                        <div class="flex-1">
                                            <router-link :to="{name:'students', params:{uuid:student.uuid}}" class="cursor-pointer hover:text-blue-500 font-medium text-lg block">
                                                {{ student.fullname }}
                                            </router-link>
                                            <div class="text-sm">{{ student.courses.title }}</div>
                                        </div>
                                        <div>
                                            <n-button @click="gotToPDF(student.uuid, 'student')">Print PDF</n-button>
                                        </div>
                                    </div>
                                    <n-table size="small" class="table-hoverable">
                                        <thead>
                                            <tr>
                                                <th>Subject</th>
                                                <th>Remarks</th>
                                                <th>Date & Time</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="(s,i) in student.subjects" :key="i">
                                                <td>
                                                    <div class="font-medium text-lg">{{ s.subjects_title }}</div>
                                                    <div class="flex flex-row gap-4">
                                                        <div><b>{{ s.items_count }}</b> Items</div>
                                                        <div>Time: <b>{{ s.time_str }}</b></div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-lg">{{ s.results.percent }}%</div>
                                                    <div class="flex flex-row gap-2">
                                                        <div><b>{{ s.results.correct }}</b> Correct</div>
                                                        <div><b>{{ s.results.wrong }}</b> Wrong</div>
                                                        <div><b>{{ s.results.missed }}</b> Missed</div>
                                                    </div>
                                                </td>
                                                <td>
                                                    <div class="text-lg">{{ moment(s.started_at).format('ll') }}</div>
                                                    <div>{{ moment(s.started_at).format('LTS') }} - {{ moment(s.finished_at).format('LTS') }}</div>
                                                </td>
                                                <td class="w-1 whitespace-nowrap">
                                                    <n-button @click="gotToPDF(s.uuid)">Print PDF</n-button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </n-table>
                                </div>
                            </n-card>
                        </div>
                    </div>
                    <div class="flex flex-row justify-center mt-4">
                        <n-button v-if="pageNext" @click="getTimeline(pageNext)"  :loading="loading" :disabled="loading">Load More</n-button>
                    </div>
                </div>
                <n-empty v-else description="No examination yet." />
            </n-layout-content>
        </n-layout>
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import { mapState } from 'vuex'
export default {
    data() {
        return {
            moment,
            timeline: [],
            loading: false,
            pageNext: null,
            optionsParams: {
                course: 0
            }
        }
    },
    created() {
        this.getTimeline()
    },
    methods: {
        async getTimeline(page=1) {
            this.loading = true
            const { data } = await API.get(`/exam-timeline?page=${page}`, {
                params: this.optionsParams
            })
            this.timeline = this.timeline.concat(data.data)
            this.pageNext = (data.next_page_url) ? data.to : null
            this.loading = false
        },
        gotToPDF(uuid, type='') {
            window.open(`/administrator/pdf/${uuid}/${type}`, '_blank')
        }
    },
    computed: {
        ...mapState({
            courses(state) {
                const courses = [{
                    label: 'All Courses',
                    value: 0
                }]
                state.courses.forEach(e=> {
                    courses.push({
                        label: e.acronym,
                        value: e.id
                    })
                })
                return courses
            }
        }),
    },
    watch: {
        optionsParams: {
            deep: true,
            handler() {
                this.timeline = []
                this.getTimeline(1)
            }
        }
    }
}
</script>