<template>
    <div class="relative p-2 w-full xl:w-3/4 mx-auto">
        <n-layout>
            <n-layout-header>
                <div class="flex gap-2">
                    <div class="flex-1 text-lg font-medium">Home</div>
                </div>
            </n-layout-header>
            <n-layout-content class="mt-4">
                <div class="flex flex-col gap-8">
                    <div>
                        <div class="font-medium text-lg mb-4">Exam Overview</div>
                        <div v-if="examOverview.length >= 1" class="grid grid-cols-2 gap-3">
                            <n-card size="small" v-for="exam in examOverview" :key="exam.uuid" :title="exam.title">
                                <div class="flex flex-col gap-2 pl-2">
                                    <div v-for="subject in exam.subjects" :key="subject.uuid">
                                        <div class="flex flex-row gap-4">
                                            <div>{{ subject.title }}</div>
                                            <div>{{ subject.questions.items.length }} Items</div>
                                            <div>Timer: {{ subject.questions.time_str }}</div>
                                        </div>
                                    </div>
                                </div>
                            </n-card>
                        </div>
                        <n-empty v-else description="No exam found." />
                    </div>
                    <div>
                        <div class="font-medium text-lg mb-4">Number of Students</div>
                        <div class="flex flex-row gap-4">
                            <div>
                                <BarChart v-if="courses" :chartData="courses" :options="{barThickness: 20}" />
                            </div>
                            <div class="flex-1">
                                <BarChart v-if="schools" :chartData="schools" :options="{barThickness: 20, indexAxis: 'y'}" />
                            </div>
                        </div>
                    </div>
                </div>
            </n-layout-content>
        </n-layout>
    </div>
</template>
<script>
import API from '~/api'
import { BarChart } from 'vue-chart-3'
import { Chart, registerables } from 'chart.js'
import { shuffle } from 'lodash-es'
Chart.register(...registerables)

export default {
    components: { BarChart },
    data() {
        return {
            courses: null,
            schools: null,
            examOverview: []
        }
    },
    created() {
        this.getCounts()
        this.getOverview()
    },
    methods: {
        async getCounts() {
            const { data } = await API.get(`/students-count`)
            this.courses = this.setChartData(data.courses, 'acronym', 'students_count')
            this.schools = this.setChartData(data.schools, 'name', 'students_count')
        },
        async getOverview() {
            const { data } = await API.get(`/courses?with_subjects=1`)
            const courses = []
            data.forEach(el => {
                const subjects = el.subjects.filter(e => e.published)
                courses.push({...el, subjects})
            })
            this.examOverview = courses.filter(el => el.subjects.length >= 1)
        },
        setChartData(data, labelKey, dataKey) {
            const labels = []
            const datasets = []
            var total = 0;
            data.forEach(el => {
                labels.push(el[labelKey])
                datasets.push(el[dataKey])
                total += Number(el[dataKey])
            })

            const colors = shuffle([
                '#84cc16', '#65a30d', '#4d7c0f', '#4ade80', '#22c55e',
                '#16a34a', '#34d399', '#10b981', '#059669', '#2dd4bf',
                '#14b8a6', '#0d9488', '#22d3ee', '#06b6d4', '#0891b2'
            ])
            var backgroundColor = colors
            for (let index = 0; index < Math.floor(labels.length / 15); index++) {
                backgroundColor = backgroundColor.concat(colors);
            }

            return {
                labels,
                datasets: [{
                    label: `${total} total of Students`,
                    data: datasets,
                    backgroundColor
                }],
            }
        }
    }
 }
</script>