<template>
    <n-layout position="absolute">
        <div class="mx-auto w-full xl:w-1/4 lg:w-1/2 mt-10">
            <n-card size="small">
                <div class="flex flex-row gap-4 items-center mb-4">
                    <div>
                        <img src="/images/logo/citcs.png" style="width: 60px;"/>
                    </div>
                    <div class="flex-1 text-center">
                        <div class="font-medium text-lg">Web-based Validation Exam</div>
                        <div class="text-sm">Quirino State College <br> College of Information Technology and Computer Sciences</div>
                    </div>
                    <div>
                        <img src="/images/logo/qsu.png" style="width: 60px;"/>
                    </div>
                </div>

                <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

                    <n-form-item label="Username" path="username" :feedback="formErrorsStatus.feedback.username" :validation-status="formErrorsStatus.status.username">
                        <n-input v-model:value="formValues.username" placeholder="Input username" @input="formErrors.username = undefined" />
                    </n-form-item>

                    <n-form-item label="Password" path="password" :feedback="formErrorsStatus.feedback.password" :validation-status="formErrorsStatus.status.password">
                        <n-input type="password" v-model:value="formValues.password" placeholder="Input password" @input="formErrors.password = undefined" />
                    </n-form-item>
                    
                    <n-button style="width:100%" :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Login</n-button>

                </n-form>
            </n-card>
            <div class="mt-4 text-right">
                <router-link :to="{name:'reset-password'}" class="text-blue-600 hover:text-blue-400">Forgot Password?</router-link>
            </div>
        </div>
    </n-layout>
</template>
<script>
import axios from 'axios'
import { computedErrors } from '~/helpers/naive-tools.js'
export default {
    data() {
        return {
            formValues: {},
            formDisabled: false,
            formRules: {
                username: {
                    required: true,
                    message: 'Please input username',
                    trigger: ['input', 'blur'],
                },
                password: {
                    required: true,
                    message: 'Please input password',
                    trigger: ['input', 'blur'],
                }
            },
            formErrors: {}
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                await axios.post(`/administrator/login`, this.formValues)
                location.href = '/administrator/panel'

            } catch (e) {
                const { errors } = e.response.data
                if (errors) {
                    this.formErrors = errors
                } else {
                    window.$messageAlert.error(String(e.response.data), "Login Error")
                }
            }
            this.formDisabled = false
        }
    },
    computed: {
        formErrorsStatus() {
            return computedErrors(this.formErrors)
        }
    }
}
</script>