<template>
    <div class="relative container mx-auto h-screen shadow-lg">
        <n-layout position="absolute">
            <n-layout-header>
                <div class="p-4 flex gap-2 items-center">
                    <div class="flex-1 font-medium text-lg">{{ question.title }}</div>
                    <n-button type="info" @click="$router.push({name:'questionnaire-editor'})">Back to Editor</n-button>
                </div>
            </n-layout-header>
            <QuestionnaireView :items="question.items" :seconds-length="question.time" :is-done="false" @submit="setAnswers"/>
        </n-layout>
    </div>
</template>
<script>
import API from '~/api'
import QuestionnaireView from '~/components/utils/QuestionnaireView.vue'
export default {
    props: ['uuid'],
    components: { QuestionnaireView },
    data() {
        return {
            question: {}
        }
    },
    async created() {
        try {
            const { data } = await API.get(`/questions/${this.uuid}`)
            this.question = data
        } catch (e) {
            document.title = 'Undefined'
        }
    },
    methods: {
        setAnswers(answers) {
            this.question.items.map((el, key) => {
                el.answerOwn = answers[key]
                return el
            })
        }
    },
    watch: {
        'question.title' (val) {
            document.title = 'Questionnaire Preview - '+val || 'Undefined'
        }
    }
}
</script>
<style>
body, html {
    background-color: #b8d3f32b;
}
</style>