<template>
    <div class="relative p-2 w-full xl:w-3/4 mx-auto">
        <n-layout>
            <n-layout-header>
                <div class="flex gap-2 p-2">
                    <div class="flex-1 text-lg font-medium">Question Bank</div>
                    <div>
                        <n-button @click="questionModal =  true" type="info">Add Questionnaire</n-button>
                    </div>
                </div>
            </n-layout-header>
            <n-layout-content class="p-2">
                <div v-if="questions.length >= 1">
                    <n-table size="small" class="table-hoverable">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Subject</th>
                                <th>Created</th>
                                <th>Modified</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(q, i) in questions" :key="i">
                                <td>
                                    <a class="block hover:text-blue-500 font-medium"
                                        :href="`/administrator/questionnaire/${q.uuid}`"
                                        target="_blank" rel="noopener noreferrer">{{ q.title }}</a>
                                    
                                    <div class="flex flex-row gap-2 text-sm text-gray-600 mb-2">
                                        <div>By <b>{{ q.admin.fullname }}</b></div>
                                        <div><b>{{ q.items.length }}</b> Items</div>
                                        <div>Timer: <b>{{ q.time_str }}</b></div>
                                    </div>
                                    <n-progress type="line"
                                        :color="colorVars[`${q.progress.status}Color`]"
                                        :percentage="q.progress.percent"
                                        :height="15"
                                        :border-radius="4"/>
                                </td>
                                <td>
                                    <div v-if="q.subject">
                                        <div class="font-medium">{{ q.subject.title }}</div>
                                        <div class="text-green-500" v-if="q.subject.published">Published</div>
                                    </div>
                                    <i v-else>None</i>
                                </td>
                                <td class="w-1 whitespace-nowrap">{{ moment(q.created_at).format('lll') }}</td>
                                <td class="w-1 whitespace-nowrap" :title="moment(q.updated_at).format('lll')">
                                    {{ moment(q.updated_at).fromNow() }}
                                </td>
                            </tr>
                        </tbody>
                    </n-table>
                    <n-pagination class="mt-2" v-model:page="page" :page-count="pageCount"/>
                </div>
                <n-empty v-else description="No question bank found." />
            </n-layout-content>
        </n-layout>
    </div>
    <n-modal v-model:show="questionModal" :mask-closable="false" title="Add Questionnaire" preset="card" style="width:600px">
        <QuestionnaireCreate @cancel="questionModal = false" @success="goToQuestionnaire" />
    </n-modal>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import QuestionnaireCreate from '~/components/admin/forms/QuestionnaireCreate.vue'
import { useThemeVars } from 'naive-ui'
export default {
    components: { QuestionnaireCreate },
    setup() {
        return {
            colorVars: useThemeVars()
        }
    },
    data() {
        return {
            moment,
            questions: [],
            questionModal: false,
            page: 1,
            pageCount: 1,
        }
    },
    created() {
        this.getQuestions()
    },
    methods:{
        async getQuestions(page=1) {
            const { data } = await API.get(`/questions?page=${page}`)
            this.questions = data.data
            this.pageCount = data.last_page
        },
        goToQuestionnaire(data) {
            this.questionModal = false
            window.open(`/administrator/questionnaire/${data}`, '_blank')
        }
    },
    watch: {
        page(val) {
            this.getQuestions(val)
        }
    }
}
</script>