<template>
    <div class="relative container mx-auto h-screen shadow-lg">
        <n-layout position="absolute">
            <n-layout-header>
                <div class="p-4 flex gap-2 items-center">
                    <div class="flex-1">
                        <n-input-group>
                            <n-input-group-label>Title</n-input-group-label>
                            <n-input v-model:value="question.title" />
                        </n-input-group>
                    </div>
                    <n-button :disabled="questionIsLoading" :loading="questionIsLoading" @click="$router.push({name:'questionnaire-preview'})">Preview</n-button>
                    <n-button type="primary" :disabled="questionIsLoading" :loading="questionIsLoading" @click="submitChanges()">Save Changes</n-button>
                </div>
            </n-layout-header>
            <n-layout has-sider position="absolute" style="top: 70px">

                <n-layout-sider>
                    <div class="flex flex-col gap-4 p-4">
                        <n-input-group>
                            <n-input-group-label>Timer</n-input-group-label>
                            <n-time-picker v-model:value="question.time" :hours="[0,1,2,3,4]" :seconds="10" @update:value="formatTime" clearable :actions="['confirm']" />
                        </n-input-group>
                        <div class="text-lg">
                            <div v-for="(c, i) in countItems" :key="i">{{ c }}</div>
                        </div>
                        <div class="text-sm text-gray-500">
                            <div v-if="question.admin">Created by {{ question.admin.fullname }}</div>
                            <div>Created on {{ moment(question.created_at).format('lll') }}</div>
                            <div :title="moment(question.updated_at).format('lll')">Last modified was {{ moment(question.updated_at).fromNow() }}</div>
                        </div>
                    </div>
                </n-layout-sider>

                <n-layout-content class="p-4">
                    <div class="grid grid-cols-2 gap-4 justify-items-stretch">
                        <n-card v-for="(q, i) in question.items" :key="i" :title="`# ${(i+1)}`" closable @close="removeItem(i)">
                            <n-input type="textarea" v-model:value="q.question" placeholder="Question"/>
                            <n-radio-group v-model:value="q.answer" :name="`optionGroup${i}`" style="width:100%">
                                <div class="flex flex-col gap-3 mt-4">
                                    <div v-for="(o, oi) in q.options" :key="oi">
                                        <div class="flex flex-row gap-2">
                                            <div>
                                                <n-radio :value="o.number" size="large" />
                                            </div>
                                            <div class="flex-1">
                                                <n-input type="textarea" v-model:value="o.text" :placeholder="`Option ${(oi+1)}`" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </n-radio-group>
                        </n-card>
                        <n-card>
                            <div class="h-full flex items-center justify-center">
                                <n-empty description="Add Questionnaire Item">
                                    <template #icon>
                                        <n-icon><DocumentTextIcon/></n-icon>
                                    </template>
                                    <template #extra>
                                        <n-button @click="addItem()">Add New</n-button>
                                    </template>
                                </n-empty>
                            </div>
                        </n-card>
                    </div>
                </n-layout-content>

            </n-layout>
        </n-layout>
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import { NIcon } from 'naive-ui'
import { DocumentText as DocumentTextIcon } from '@vicons/ionicons5'
import { secToTime, timeToSec } from '~/helpers/seconds-converter.js'
export default {
    props: ['uuid'],
    components: { NIcon, DocumentTextIcon },
    data() {
        return {
            moment,
            question: {
                id: 0,
                items: []
            },
            questionIsLoading: false,
            itemIndex: 0
        }
    },
    async created() {
        try {
            const { data } = await API.get(`/questions/${this.uuid}`)
            const time = secToTime(data.time)
            this.question = {...data, time}
            if (this.question.items.length <= 0) this.addItem()
        } catch (e) {
            console.log(e)
            document.title = 'Undefined'
        }
    },
    methods: {
        async submitChanges() {
            const { title } = this.question
            if (!title || title == '') {
                window.$message.error("Title can't be empty.")
                return
            }

            const time = timeToSec(this.question.time)
            if (time < 60 || time >= 18000) {
                window.$message.error("Timer must be higher than 59 seconds and can't be exceed to 5 hours.")
                return
            }

            this.questionIsLoading = true
            try {
                const { data } = await API.put(`/questions/${this.question.id}`, {...this.question, time})
                console.log(data)
                this.question.updated_at = data
            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422) window.$messageAlert.error(data, "Questionnaire not allowed")
            }
           this.questionIsLoading = false
        },
        addItem() {
            var options = []
            for (let index = 1; index <= 4; index++) {
                options.push({
                    text: '',
                    number: index
                })
            }

            this.question.items.push({
                question: '',
                answer: 0,
                options
            })
        },
        removeItem(i) {
            if (this.question.items.length <= 1) return false
            this.question.items.splice(i, 1)
        },
        formatTime(time) {
            if (!time) return

            const date = new Date(time)
            if (date.getHours() >= 5) {
                date.setHours(0)
                this.question.time = date.getTime()
            } 
        }
    },
    computed: {
        countItems() {
            const { items } = this.question
            const all = items.length
            var hasQuestions=0, hasAnswer=0, hasCompleteOptions=0
            items.forEach(el => {
                if (el.question && el.question != '') hasQuestions += Number(1)
                if (el.answer && el.answer >= 1) hasAnswer += Number(1)
                hasCompleteOptions += Number(el.options.reduce((prev, curr) => {
                    return prev + ((curr.text && curr.text != '') ? 1 : 0)
                }, 0) >= 4 ? 1 : 0)
            })

            return [
                `${all} total of items`,
                `${hasQuestions}/${all} question(s)`,
                `${hasCompleteOptions}/${all} complete options`,
                `${hasAnswer}/${all} answer(s)`,
            ]
        }
    },
    watch: {
        'question.title' (val) {
            document.title = 'Questionnaire - '+val || 'Undefined'
        }
    }
}
</script>
<style>
body, html {
    background-color: #b8d3f32b;
}
</style>