<template>
    <n-layout position="absolute">
        <div class="mx-auto w-full xl:w-1/4 lg:w-1/2 mt-10">
            <n-card size="small">
                <div v-if="!emailSent">
                    <div class="text-center font-medium text-xl mb-4">Enter your email</div>
                    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

                        <n-form-item label="Email" path="email" :feedback="formErrorsStatus.feedback.email" :validation-status="formErrorsStatus.status.email">
                            <n-input v-model:value="formValues.email" placeholder="Input email" @input="formErrors.email = undefined" />
                        </n-form-item>
                        
                        <n-button style="width:100%" :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Submit Email</n-button>

                    </n-form>
                </div>
                <div v-else class="text-center">
                    <n-result title="Email Sent" description="New password has been sent to your email.">
                        <template #icon>
                            <n-icon size="100" color="#65a30d"><MailIcon/></n-icon>
                        </template>
                        <template #footer>
                            <n-button @click="$router.push({name:'login'})">Login Now</n-button>
                        </template>
                    </n-result>
                </div>
            </n-card>
            <div v-if="!emailSent" class="mt-4 text-right">
                <router-link :to="{name:'login'}" class="text-blue-600 hover:text-blue-400">Login Anyway</router-link>
            </div>
        </div>
    </n-layout>
</template>
<script>
import axios from 'axios'
import { NResult, NIcon } from 'naive-ui'
import { Mail as MailIcon } from '@vicons/ionicons5'
import { computedErrors } from '~/helpers/naive-tools.js'
export default {
    components: { NResult, MailIcon, NIcon },
    data() {
        return {
            emailSent: false,
            formValues: {},
            formDisabled: false,
            formRules: {
                email: {
                    required: true,
                    message: 'Please input email',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {}
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                await axios.post(`/administrator/reset-password`, this.formValues)
                this.emailSent = true

            } catch (e) {
                const { errors } = e.response.data
                if (errors) {
                    this.formErrors = errors
                } else {
                    window.$messageAlert.error(String(e.response.data), "Email Error")
                }
            }
            this.formDisabled = false
        }
    },
    computed: {
        formErrorsStatus() {
            return computedErrors(this.formErrors)
        }
    }
}
</script>