<template>
    <div class="relative p-2 w-full xl:w-3/4 mx-auto">
        <n-layout>
            <n-layout-header>
                <div class="flex gap-2">
                    <div class="flex-1 text-lg font-medium">Schools</div>
                    <div>
                        <n-input v-model:value="search" placeholder="Search school name" clearable/>
                    </div>
                </div>
            </n-layout-header>
            <n-layout-content class="mt-4">
                <div v-if="schools.length >= 1">
                    <n-table size="small">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th style="text-align:right">No. Students</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(s,i) in schools" :key="i">
                                <td>{{ s.name }}</td>
                                <td style="text-align:right">{{ s.students_count }}</td>
                            </tr>
                        </tbody>
                    </n-table>
                    <n-pagination class="mt-2" v-model:page="page" :page-count="pageCount"/>
                </div>
                <n-empty v-else description="No schools found." />
            </n-layout-content>
        </n-layout>
    </div>
</template>
<script>
import API from '~/api'
import _debounce from 'lodash/debounce'
export default {
    data() {
        return {
            schools: [],
            page: 1,
            pageCount: 0,
            search: ''
        }
    },
    created() {
        this.getSchools()
    },
    methods: {
        async getSchools(search='') {
            const { data } = await API.get(`/schools?page=${this.page}&search=${search}`)
            this.schools = data.data
            this.pageCount = data.last_page
        },
        searchSchools: _debounce(function(str) {
            this.getSchools(str)
        }, 600)
    },
    watch: {
        page() {
            this.getSchools()
        },
        search(val) {
            this.page = 1
            this.searchSchools(val)
        }
    }
}
</script>