<template>
    <div class="relative p-2 w-full xl:w-3/4 mx-auto">
        <!-- Students -->
        <n-layout v-if="!uuid || !student.id">
            <n-layout-header>
                <div class="flex gap-2">
                    <div class="flex-1 text-lg font-medium">Students</div>
                    <div class="w-40">
                        <n-select v-model:value="optionsParams.course" :options="courses"/>
                    </div>
                    <div>
                        <n-input v-model:value="optionsParams.search" placeholder="Search student name" clearable/>
                    </div>
                </div>
            </n-layout-header>
            <n-layout-content class="mt-4">
                <div v-if="students.length >= 1">
                    <n-table size="small" class="table-hoverable">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Registered</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(s,i) in students" :key="i">
                                <td>
                                    <router-link :to="{params:{uuid:s.uuid}}" class="cursor-pointer block hover:text-blue-500 font-medium">
                                        {{ s.fullname }}
                                    </router-link>
                                </td>
                                <td>{{ s.courses.acronym }} - {{ s.courses.title }}</td>
                                <td class="w-1 whitespace-nowrap">{{ moment(s.created_at).format('lll') }}</td>
                            </tr>
                        </tbody>
                    </n-table>
                    <n-pagination class="mt-2" v-model:page="page" :page-count="pageCount"/>
                </div>
                <n-empty v-else description="No students found." />
            </n-layout-content>
        </n-layout>

        <!-- Student Profile -->
        <n-layout v-else>
            <n-layout-header>
                <div class="flex gap-2 items-center">
                    <n-button text @click="$router.push({params:{uuid:null}})"><n-icon :size="20"><ArrowBack/></n-icon></n-button>
                    <div class="flex-1 text-lg font-medium">{{ student.fullname }}</div>
                    <n-button @click="gotToPDF(student.uuid, 'student')">Print PDF</n-button>
                </div>
            </n-layout-header>
            <n-layout-content class="mt-4">
                <div class="grid grid-cols-3 gap-2">
                    <n-card size="small" v-for="(d,i) in studentDetails" :key="i">
                        <div class="text-sm text-gray-500">{{ d.label }}</div>
                        <div class="text-lg">{{ d.value }}</div>
                    </n-card>
                </div>
                <div class="font-medium mt-4 mb-2 text-lg">Subjects Examed</div>
                <n-table size="small" class="table-hoverable">
                    <thead>
                        <tr>
                            <th>Subject</th>
                            <th>Remarks</th>
                            <th>Date & Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(s,i) in student.subjects" :key="i">
                            <td>
                                <div class="font-medium text-lg">{{ s.subjects_title }}</div>
                                <div class="flex flex-row gap-4">
                                    <div><b>{{ s.items_count }}</b> Items</div>
                                    <div>Time: <b>{{ s.time_str }}</b></div>
                                </div>
                            </td>
                            <td>
                                <div class="text-lg">{{ s.results.percent }}%</div>
                                <div class="flex flex-row gap-2">
                                    <div><b>{{ s.results.correct }}</b> Correct</div>
                                    <div><b>{{ s.results.wrong }}</b> Wrong</div>
                                    <div><b>{{ s.results.missed }}</b> Missed</div>
                                </div>
                            </td>
                            <td>
                                <div class="text-lg">{{ moment(s.started_at).format('ll') }}</div>
                                <div>{{ moment(s.started_at).format('LTS') }} - {{ moment(s.finished_at).format('LTS') }}</div>
                            </td>
                            <td class="w-1 whitespace-nowrap">
                                <n-button @click="gotToPDF(s.uuid)">Print PDF</n-button>
                            </td>
                        </tr>
                    </tbody>
                </n-table>
            </n-layout-content>
        </n-layout>
    </div>
</template>
<script>
import API from '~/api'
import moment from 'moment'
import { mapState } from 'vuex'
import { NIcon } from 'naive-ui'
import { Person as PersonIcon, ArrowBack } from '@vicons/ionicons5'
import _debounce from 'lodash/debounce'
export default {
    props: ['uuid'],
    components: { NIcon, PersonIcon, ArrowBack },
    data() {
        return {
            moment,
            students: [],
            student: {},
            optionsParams: {
                course: 0,  
                search: ''
            },
            page: 1,
            pageCount: 0,
        }
    },
    created() {
        this.getStudents()
        this.getStudent()
    },
    methods: {
        async getStudents(page=1) {
            const { data } = await API.get(`/students?page=${page}`, {
                params: this.optionsParams
            })
            this.students = data.data
            this.pageCount = data.last_page
        },
        async getStudent() {
            if (!this.uuid || this.uuid == '') return
            const { data } = await API.get(`/students/${this.uuid}`)
            this.student = data
        },
        gotToPDF(uuid, type='') {
            window.open(`/administrator/pdf/${uuid}/${type}`, '_blank')
        }
    },
    computed: {
        ...mapState({
            courses(state) {
                const courses = [{
                    label: 'All Courses',
                    value: 0
                }]
                state.courses.forEach(e=> {
                    courses.push({
                        label: e.acronym,
                        value: e.id
                    })
                })
                return courses
            }
        }),
        studentDetails() {
            const student = this.student
            return [
                {
                    label: "Date Registered",
                    value: moment(student.created_at).format('lll')
                },{
                    label: "Course",
                    value: student.courses.title
                },{
                    label: "School",
                    value: student.schools.name
                },{
                    label: "Birthdate",
                    value: moment(student.bday).format('ll')
                },{
                    label: "Age",
                    value: student.age
                },{
                    label: "Gender",
                    value: student.gender_str
                }
            ]
        }
    },
    watch: {
        uuid() {
            this.getStudent()
        },
        page(val) {
            this.getStudents(val)
        },
        optionsParams: {
            deep: true,
            handler: _debounce(function() {
                this.getStudents()
            }, 600),
        }
    }
}
</script>