<template>
    <n-layout position="absolute">
        <n-layout-header :inverted="true">
            <div class="flex flex-row p-2 items-center w-full xl:w-1/2 lg:w-2/3 mx-auto">
                <div class="flex flex-row gap-2 justify-center items-center">
                    <n-image :width="40" src="/images/logo/citcs.png" />
                    <n-image :width="40" src="/images/logo/qsu.png" />
                    <div>
                        <div class="font-medium">Students Validation Exam</div>
                        <div class="text-sm">QSU-CITCS</div>
                    </div>
                </div>
                <div class="flex-1"></div>
                <div class="font-medium text-lg">
                    {{ title }}
                </div>
            </div>
        </n-layout-header>
        <n-layout position="absolute" style="top: 64px">
            <n-layout-content>
                <div class="w-full xl:w-1/2 lg:w-2/3 mx-auto">
                    <slot>
                    </slot>
                </div>
            </n-layout-content>
        </n-layout>
    </n-layout>
</template>
<script>
import { NImage } from 'naive-ui'
export default {
    props: {
        title: String
    },
    components: { NImage }
}
</script>