<template>
    <app-layout title="Registration">
        <n-form class="flex flex-col gap-4 mt-4" :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">
            
            <n-card size="small" title="Student Information">
                <div class="flex flex-row gap-4">
                    <n-form-item class="flex-1" label="First Name" path="fname" :feedback="formErrorsStatus.feedback.fname" :validation-status="formErrorsStatus.status.fname">
                        <n-input v-model:value="formValues.fname" placeholder="Input first name" @input="formErrors.fname = undefined" />
                    </n-form-item>

                    <n-form-item class="flex-1" label="Middle Name" path="mname" :feedback="formErrorsStatus.feedback.mname" :validation-status="formErrorsStatus.status.mname">
                        <n-input v-model:value="formValues.mname" placeholder="Input middle name" @input="formErrors.mname = undefined" />
                    </n-form-item>

                    <n-form-item class="flex-1" label="Last Name" path="lname" :feedback="formErrorsStatus.feedback.lname" :validation-status="formErrorsStatus.status.lname">
                        <n-input v-model:value="formValues.lname" placeholder="Input last name" @input="formErrors.lname = undefined" />
                    </n-form-item>
                </div>

                <div class="flex flex-row gap-4">
                    <n-form-item class="flex-1" label="Suffix (ex. Jr, II, III)" path="suffix">
                        <n-input v-model:value="formValues.suffix" placeholder="Input suffix" />
                    </n-form-item>

                    <n-form-item class="flex-1" label="Gender" path="gender" :feedback="formErrorsStatus.feedback.gender" :validation-status="formErrorsStatus.status.gender">
                        <n-select v-model:value="formValues.gender" placeholder="Input gender" :options="genders" @update:value="formErrors.gender = undefined" />
                    </n-form-item>

                    <n-form-item class="flex-1" label="Birthdate" path="bday" :feedback="formErrorsStatus.feedback.bday" :validation-status="formErrorsStatus.status.bday">
                        <n-date-picker class="w-full" :is-date-disabled="dateEnd" v-model:value="formValues.bday" placeholder="Input birthdate" type="date" @update:value="formErrors.bday = undefined" />
                    </n-form-item>
                </div>
            </n-card>

            <n-card size="small" title="School Information">
                <n-form-item v-if="!formValues.schools_none" class="flex-1" label="Search School" path="schools_id" :feedback="formErrorsStatus.feedback.schools_id" :validation-status="formErrorsStatus.status.schools_id">
                    <n-select clearable filterable remote v-model:value="formValues.schools_id" placeholder="Input school" :loading="schoolsLoading" :options="schools" @search="searchSchools" @update:value="formErrors.schools_id = undefined" />
                </n-form-item>
                <n-form-item v-else class="flex-1" label="School Name" path="schools_other" :feedback="formErrorsStatus.feedback.schools_other" :validation-status="formErrorsStatus.status.schools_other">
                    <n-input v-model:value="formValues.schools_other" placeholder="Input school name" />
                </n-form-item>

                <div class="flex flex-row gap-2 items-center">
                    <n-switch v-model:value="formValues.schools_none"/>
                    <div>Check here if school is not specified, otherwise uncheck</div>
                </div>
            </n-card>

            <n-card size="small" title="Course">
                <n-form-item class="flex-1" :show-label="false" path="courses_id" :feedback="formErrorsStatus.feedback.courses_id" :validation-status="formErrorsStatus.status.courses_id">
                    <n-select v-model:value="formValues.courses_id" placeholder="Input course" :options="courses" @update:value="formErrors.courses_id = undefined" />
                </n-form-item>
            </n-card>

            <n-card v-if="subjects.length >= 1" size="small" title="Subjects">
                <n-form-item path="subjects" :show-label="false" :feedback="formErrorsStatus.feedback.subjects" :validation-status="formErrorsStatus.status.subjects">
                    <n-checkbox-group v-model:value="formValues.subjects" @update:value="formErrors.subjects = undefined">
                        <n-checkbox v-for="(s,i) in subjects" :key="i" :value="s.id">{{ s.title }}</n-checkbox>
                    </n-checkbox-group>
                </n-form-item>
            </n-card>

            <div class="flex flex-row gap-2 justify-center mb-4">
                <n-button attr-type="submit" type="success" size="large" :loading="formDisabled" :disabled="formDisabled">Register</n-button>
            </div>

        </n-form>
    </app-layout>
</template>
<script>
import axios from 'axios'
import moment from 'moment'
import AppLayout from '~/components/students/AppLayout.vue'
import { computedErrors } from '~/helpers/naive-tools.js'
import _debounce from 'lodash/debounce'
export default {
    components: { AppLayout },
    data() {
        return {
            formDisabled: false,
            formValues: {
                schools_none: false,
                bday: new Date(2000, 1, 1).getTime()
            },
            formRules: {
                fname: {
                    required: true,
                    message: 'Please input first name',
                    trigger: ['input', 'blur'],
                },
                mname: {
                    required: true,
                    message: 'Please input middle name',
                    trigger: ['input', 'blur'],
                },
                lname: {
                    required: true,
                    message: 'Please input last name',
                    trigger: ['input', 'blur'],
                },
                bday: {
                    type: 'number',
                    required: true,
                    message: 'Please input birthdate',
                    trigger: ['change', 'blur'],
                },
                gender: {
                    type: 'number',
                    required: true,
                    message: 'Please input gender',
                    trigger: ['change', 'blur'],
                },
                courses_id: {
                    type: 'number',
                    required: true,
                    message: 'Please input course',
                    trigger: ['change', 'blur'],
                },
                subjects: {
                    type: 'array',
                    required: true,
                    trigger: ['blur', 'change'],
                    message: 'Please atleast one subject'
                }
            },
            formErrors: {},

            genders: [
                {
                    label: 'Male',
                    value: 1,
                },{
                    label: 'Female',
                    value: 2
                }
            ],

            schools: [],
            schoolsLoading: false,
        }
    },
    created() {
        this.searchSchools('quirino')
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            const bday = moment(new Date(this.formValues.bday)).format('LL')
            this.formDisabled = true
            try {
                await axios.post(`/register`, {...this.formValues, bday})
                location.reload()

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422 && data.errors) {
                    this.formErrors = data.errors
                    window.$message.error("The given data is invalid")
                } else {
                    window.$messageAlert.error(String(data), "Data given not allowed")
                }
                
            }
            this.formDisabled = false
        },
        searchSchools: _debounce(async function(str) {
            this.schoolsLoading = true
            try {
                const { data } = await axios.get(`/search-school?search=${str}`)
                const schools = []
                data.forEach(e => {
                    schools.push({
                        label: e.name,
                        value: e.id
                    })
                })
                this.schools = schools

            } catch (e) {
                console.log(e.response)
            }
            this.schoolsLoading = false
        }, 600),
        dateEnd(ts) {
            const last = new Date().getFullYear() - 14
            return ts > new Date(last, 1, 1).getTime()
        }
    },
    computed: {
        formErrorsStatus() {
            return computedErrors(this.formErrors)
        },
        courses() {
            const courses = window.$courses
            const options = []
            courses.forEach(e => {
                options.push({
                    label: e.title,
                    value: e.id
                })
            })

            return options
        },
        subjects() {
            const { courses_id } = this.formValues
            if (!courses_id) return []
            const course = window.$courses.find(e => e.id == courses_id)
            return course.subjects
        },
    }
}
</script>