<template>
    <n-spin :show="loading">
        <div class="relative container mx-auto h-screen shadow-lg">
            <n-layout position="absolute">
                <n-layout-header>
                    <div class="p-4 flex gap-2 items-center">
                        <div class="flex-1 font-medium text-lg">{{ question.subjects_title }}</div>
                        <n-button @click="goToHome()">Back to Home</n-button>
                    </div>
                </n-layout-header>
                <QuestionnaireView :items="question.questions_items" :seconds-length="question.time_left" :is-done="done" @submit="updateExam" />
            </n-layout>
        </div>
    </n-spin>
</template>
<script>
import axios from 'axios'
import QuestionnaireView from '~/components/utils/QuestionnaireView.vue'
export default {
    components: { QuestionnaireView },
    data() {
        return {
            loading: false,
            question: window.$subject,
        }
    },
    created() {
        if (!this.question.ended_at) this.setTime()
    },
    methods: {
        async updateExam(answers) {
            this.loading = true
            try {
                const { data } = await axios.put(`/students-exam/${this.question.uuid}`, {
                    answers,
                    date: new Date()
                })
                this.question = data

            } catch (e) {
                window.$messageAlert.error(e.response.data, "Action not allowed")
            }
            this.loading = false
        },
        async setTime() {
            try {
                await axios.put(`/students-exam/${this.question.uuid}`, {
                    set_time: 1,
                    date: new Date()
                })
            } catch (e) {
                window.$messageAlert.error(e.response.data, "Something went wrong.")
            }
        },
        goToHome() {
            location.href = '/students-exam'
        }
    },
    computed: {
        done() {
            return (!this.question.finished_at) ? false : true
        }
    }
}
</script>