<template>
    <app-layout title="Home">
        <div class="flex flex-row gap-4 my-4">
            <div class="flex-1">
                <div class="font-medium text-2xl mb-4">{{ student.fullname }}</div>
                <div class="flex flex-col gap-2">
                    <div v-for="(d,i) in student.details" :key="i">
                        <div class="uppercase text-gray-600 text-sm">{{ d.label }}</div>
                        <div class="font-medium text-lg">{{ d.value }}</div>
                    </div>
                </div>
            </div>
            <div class="flex-1">
                <div class="font-medium text-lg mb-4">Subjects to Exam</div>

                <!-- Subjects -->
                <div class="flex flex-col gap-4">
                    <n-card size="small" v-for="(s,i) in student.subjects" :key="i" hoverable>
                        <div class="flex flex-row gap-2 items-center">
                            <div v-if="s.finished_at">
                                <n-icon :size="40" color="#22c55e"><CheckmarkCircleIcon/></n-icon>
                            </div>
                            <div class="flex-1">
                                <div class="font-medium text-lg">{{ s.subjects_title }}</div>
                                <div class="flex flex-row gap-4">
                                    <div><b>{{ s.items_count }}</b> Items</div>
                                    <div>Time: <b>{{ s.time_str }}</b></div>
                                </div>
                            </div>
                            <div>
                                <n-button v-if="!s.finished_at" type="success" @click="goToExam(s.uuid)">
                                    <template #icon><n-icon><PlayIcon/></n-icon></template> Start
                                </n-button>
                                <n-button v-else type="info" @click="goToExam(s.uuid)">
                                    <template #icon><n-icon><EyeIcon/></n-icon></template> View
                                </n-button>
                            </div>
                        </div>
                        <div v-if="s.finished_at" class="flex flex-row gap-2 mt-2 justify-end">
                            <div><b>{{ s.results.correct }}</b> Correct</div>
                            <div><b>{{ s.results.wrong }}</b> Wrong</div>
                            <div><b>{{ s.results.missed }}</b> Missed</div>
                            <div><b>{{ s.results.percent }}</b> Percent</div>
                        </div>
                    </n-card>
                </div>

                <div class="flex flex-row justify-end mt-10">
                    <n-button type="error" @click="quitDialog()">
                        <template #icon><n-icon><PowerIcon/></n-icon></template> Quit Exam
                    </n-button>
                </div>
            </div>
        </div>
    </app-layout>
</template>
<script>
import moment from 'moment'
import AppLayout from '~/components/students/AppLayout.vue'
import { NIcon, useDialog } from 'naive-ui'
import {
    Play as PlayIcon,
    Power as PowerIcon,
    Eye as EyeIcon,
    CheckmarkCircle as CheckmarkCircleIcon
} from '@vicons/ionicons5'

export default {
    components: { AppLayout, NIcon, PlayIcon, PowerIcon, EyeIcon, CheckmarkCircleIcon },
    setup() {
        const dialog = useDialog()
        return { 
            quitDialog() {
                dialog.warning({
                    title: "Are you sure to quit exam?",
                    content: "Make sure to finish all the subjects before leaving.",
                    positiveText: 'Continue',
                    negativeText: 'Cancel',
                    onPositiveClick: () => {
                        location.href = '/students-exam/quit'
                    },
                })
            }
        }
    },
    methods: {
        goToExam(uuid) {
            location.href = `/students-exam/${uuid}`
        }
    },
    computed: {
        student() {
            const student = window.$student
            const details = [
                {
                    label: "Date Registered",
                    value: moment(student.created_at).format('lll')
                },{
                    label: "Course",
                    value: student.courses.title
                },{
                    label: "School",
                    value: (!student.schools) ? student.schools_other : student.schools.name
                },{
                    label: "Birthdate",
                    value: moment(student.bday).format('ll')
                },{
                    label: "Age",
                    value: moment().diff(student.bday, 'years')
                },{
                    label: "Gender",
                    value: student.gender_str
                }
            ]

            return {...student, details}
        }
    }
}
</script>