<template>
    <n-message-provider>
        <n-dialog-provider>
            <router-view></router-view>
            <NaiveMessage />
        </n-dialog-provider>
    </n-message-provider>
</template>
<script>
import NaiveMessage from '~/components/utils/NaiveMessage.vue'
export default {
    components: { NaiveMessage }
}
</script>
<style>
.table-hoverable tbody tr:hover {
    @apply bg-blue-50
}
</style>