<template>
    <div class="flex-1">
        <div class="flex flex-row gap-2">
            <n-select v-model:value="month" @update:value="setDate()" :options="months" placeholder="Month"/>
            <n-select v-model:value="day" @update:value="setDate()" :options="days" placeholder="Day"/>
            <n-select v-model:value="year" @update:value="setDate()" :options="years" placeholder="Year"/>
        </div>
    </div>
</template>
<script>
export default {
    props: {
        modelValue: Date,
        notAgeBelow: {type:Number, default:0}
    },
    data() {
        return {
            month: null,
            day: null,
            year: null,
        }
    },
    methods: {
        setDate() {
            if (!this.month || !this.day || !this.year) return
            const date = new Date(this.year, this.month, this.day)
            this.$emit('update:modelValue', date)
        }
    },
    computed: {
        years() {
            const years = []
            const yearNow = new Date().getFullYear() - this.notAgeBelow
            for (var i = 1921; i <= yearNow; i++) {
                years.push({
                    label: i,
                    value: i
                })
            }
            return years.reverse()
        },
        months() {
            const months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec']
            const options = []
            months.forEach((e, i) => {
                options.push({
                    label: e,
                    value: i
                })
            })
            return options
        },
        days() {
            const last = (this.month && this.year) ? new Date(this.year, this.month+1, 0).getDate() : 31
            const days = []
            for (let index = 1; index <= last; index++) {
                days.push({
                    label: index,
                    value: index
                })
            }
            return days
        }
    },
}
</script>