<template>
    <n-layout has-sider position="absolute" style="top: 70px">
        <n-layout-sider>
            <div class="flex flex-col gap-4 p-4">
                <div class="text-center font-medium text-5xl">{{ timer }}</div>
                <div class="text-center">
                    <n-button v-if="!finished" type="primary" size="large" @click="submitExamBtn()" round>Submit Exam</n-button>
                </div>

                <!-- Questions Result -->
                <div>
                    <n-table>
                        <tbody>
                            <tr>
                                <td class="font-medium">Total Items</td>
                                <td class="text-right">{{ items.length }}</td>
                            </tr>
                            <tr>
                                <td class="font-medium">Answered</td>
                                <td class="text-right">{{ answers.length }}</td>
                            </tr>
                            <template v-if="finished">
                                <tr>
                                    <td><span class="font-medium text-green-600">Correct</span></td>
                                    <td class="text-right">{{ results.correct }}</td>
                                </tr>
                                <tr>
                                    <td><span class="font-medium text-red-500">Wrong</span></td>
                                    <td class="text-right">{{ results.wrong }}</td>
                                </tr>
                                <tr>
                                    <td><span class="font-medium text-yellow-600">Missed</span></td>
                                    <td class="text-right">{{ results.missed }}</td>
                                </tr>
                            </template>
                        </tbody>
                    </n-table>
                </div>
                <div v-if="finished" class="text-center">
                    <n-progress type="circle" :percentage="results.percent" />
                </div>
            </div>
        </n-layout-sider>
        <n-layout-content class="p-4">

            <!-- Answering -->
            <div class="flex flex-col gap-4" v-if="!finished">
                <n-card v-for="(q, i) in items" :key="i">
                    <div class="font-medium uppercase mb-2 text-gray-500">Question {{(i+1)}}:</div>
                    <div class="text-lg whitespace-pre-line">{{ q.question }}</div>
                    <n-radio-group v-model:value="answers[i]" :name="`optionGroup${i}`" style="width:100%">
                        <div class="flex flex-col gap-2 mt-4">
                            <div v-for="(o, oi) in q.options" :key="oi">
                                <n-radio :value="o.number" size="large" style="width:100%" class="p-2 hover:bg-blue-50">
                                    <div class="flex-1 whitespace-pre-line">{{ o.text }}</div>
                                </n-radio>
                            </div>
                        </div>
                    </n-radio-group>
                </n-card>
            </div>

            <!-- Results -->
            <div class="flex flex-col gap-4" v-else>
                <n-card v-for="(q, i) in results.items" :key="i">
                    <div class="font-medium uppercase mb-2">
                        <div class="flex flex-row gap-2 items-center" :class="{
                                'text-yellow-600': q.answerEmpty,
                                'text-green-500': q.answerCorrect,
                                'text-red-600': q.answerWrong
                            }">
                            <n-icon :size="20">
                                <AlertCircle v-if="q.answerEmpty"/>
                                <CheckmarkCircle v-else-if="q.answerCorrect"/>
                                <CloseCircle v-else/>
                            </n-icon> 
                            <div>Question {{(i+1)}}:</div>
                        </div>
                    </div>
                    <div class="text-lg whitespace-pre-line">{{ q.question }}</div>
                    <div class="flex flex-col gap-3 mt-4">
                        <div v-for="(o, oi) in q.options" :key="oi">
                            <div class="p-2 relative"
                                :class="{
                                    'bg-green-100': q.answerCorrect && o.isAnswerOwn,
                                    'bg-red-100': q.answerWrong && o.isAnswerOwn,
                                    'bg-gray-100': !q.answerCorrect && o.isAnswer
                                }">
                                <div class="float-right" v-if="o.isAnswer || o.isAnswerOwn">
                                    <n-tag v-if="o.isAnswer">Correct Answer</n-tag>
                                    <n-tag v-else>Your Answer</n-tag>
                                </div>
                                <div class="whitespace-pre-line">{{ o.text }}</div>
                            </div>
                        </div>
                    </div>
                </n-card>
            </div>

        </n-layout-content>
    </n-layout>
</template>
<script>
import { secToHours } from '~/helpers/seconds-converter.js'
import { NIcon, NProgress, useDialog } from 'naive-ui'
import { AlertCircle, CheckmarkCircle, CloseCircle } from '@vicons/ionicons5'
export default {
    components: { NIcon, NProgress, AlertCircle, CheckmarkCircle, CloseCircle },
    props: {
        items: {type:Array, default:[]},
        secondsLength: {type:Number, default:0},
        isDone: {type:Boolean, default:false}
    },
    setup() {
        const dialog = useDialog()
        return { 
            timesUpDialog() {
                dialog.success({
                    title: "Time's Up!",
                    content: 'Time to see the results.',
                    positiveText: 'Ok',
                })
            }
        }
    },
    data() {
        return {
            answers: [],
            finished: this.isDone,
            interval: null,
            intervalSeconds: this.secondsLength,
        }
    },
    created() {
        this.setTimer()
    },
    methods: {
        submitExamBtn() {
            if (this.answers.length < this.items.length) {
                window.$message.error("Answer all the questions, before submitting.")
                return
            }
            this.closeTimer()
        },
        submitExam() {
            this.finished = true
            this.$emit('submit', this.answers)
        },

        // Timer
        setTimer() {
            if (this.intervalSeconds <= 0) return
            if (this.isDone) return

            this.interval = setInterval(() => {
                this.intervalSeconds -= 1
                if (this.intervalSeconds <= 0) {
                    this.timesUpDialog()
                    this.closeTimer()
                }
            }, 1000)
        },
        closeTimer() {
            clearInterval(this.interval)
            this.submitExam()
        }
    },
    computed:{
        timer() {
            return secToHours(this.intervalSeconds, true)
        },
        results() {
            const items = []
            var missed=0, correct=0, wrong=0

            this.items.forEach(e => {
                let answerEmpty = false, 
                    answerCorrect = false, 
                    answerWrong = false

                if (!e.answerOwn) { // Missed
                    answerEmpty = true
                    missed += Number(1)

                } else if (e.answerOwn == e.answer) { // Correct
                    answerCorrect = true
                    correct += Number(1)

                } else { // Wrong
                    answerWrong = true
                    wrong += Number(1)
                }

                const options = []
                e.options.forEach(o => {
                    options.push({
                        ...o,
                        isAnswerOwn: o.number == e.answerOwn,
                        isAnswer: o.number == e.answer
                    })
                })

                items.push({
                    ...e,
                    answerEmpty,
                    answerCorrect,
                    answerWrong,
                    options
                })
            })
            
            const percent = Math.floor((correct / items.length) * 100)
            return { items, missed, correct, wrong, percent}
        },
    },
    watch: {
        secondsLength(val) {
            this.intervalSeconds = val
            this.setTimer()
        }
    }
}
</script>