<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Old Password" path="password_old" :feedback="formErrorsStatus.feedback.password_old" :validation-status="formErrorsStatus.status.password_old">
            <n-input type="password" :disabled="oldPasswordDisabled" v-model:value="formValues.password_old" placeholder="Input old password" @input="formErrors.password_old = undefined" />
        </n-form-item>

        <n-form-item label="New Password" path="password" :feedback="formErrorsStatus.feedback.password" :validation-status="formErrorsStatus.status.password">
            <n-input type="password" v-model:value="formValues.password" placeholder="Input new password" @input="formErrors.password = undefined" />
        </n-form-item>

        <n-form-item label="Confirm New Password" path="password_confirmation" :feedback="formErrorsStatus.feedback.password_confirmation" :validation-status="formErrorsStatus.status.password_confirmation">
            <n-input type="password" v-model:value="formValues.password_confirmation" placeholder="Confirm new password" @input="formErrors.password_confirmation = undefined" />
        </n-form-item>

        <div class="flex gap-2 justify-end">
            <n-button :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Save Changes</n-button>
        </div>

    </n-form>
</template>
<script>
import API from '~/api'
import { computedErrors } from '~/helpers/naive-tools.js'
export default {
    data() {
        return {
            formValues: {},
            formDisabled: false,
            formRules: {
                password: {
                    required: true,
                    message: 'Please input new password',
                    trigger: ['input', 'blur'],
                },
                password_confirmation: [
                    {
                        required: true,
                        message: 'Please input confirm password',
                        trigger: ['input', 'blur'],
                    },{
                        validator: this.confirmPassword,
                        message: 'Password did not mathed!',
                        trigger: ['input', 'blur', 'password-input']
                    }
                ],
                password_old: {
                    required: true,
                    message: 'Please input old password',
                    trigger: ['input', 'blur'],
                },
            },
            formErrors: {},
            oldPasswordDisabled: false
        }
    },
    async created() {
        const { admin } = await this.$store.state
        if (admin.is_password_default) {
            this.oldPasswordDisabled = true
            this.formValues.password_old = admin.password_default
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await API.post(`/change-password`, this.formValues)
                this.oldPasswordDisabled = false
                this.formValues = {
                    password: null,
                    password_old: null,
                    password_confirmation: null
                }
                this.$store.commit('setAdmin', data)
                this.$emit('success', data)

            } catch (e) {
                const { errors } = e.response.data
                if (errors) this.formErrors = errors
            }
            this.formDisabled = false
        },
        confirmPassword(rule, value) {
            return value === this.formValues.password
        }
    },
    computed: {
        formErrorsStatus() {
            return computedErrors(this.formErrors)
        },
    }
}
</script>