<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="First Name" path="fname" :feedback="formErrorsStatus.feedback.fname" :validation-status="formErrorsStatus.status.fname">
            <n-input v-model:value="formValues.fname" placeholder="Input first name" @input="formErrors.fname = undefined" />
        </n-form-item>

        <n-form-item label="Middle Name" path="mname" :feedback="formErrorsStatus.feedback.mname" :validation-status="formErrorsStatus.status.mname">
            <n-input v-model:value="formValues.mname" placeholder="Input middle name" @input="formErrors.mname = undefined" />
        </n-form-item>

        <n-form-item label="Last Name" path="lname" :feedback="formErrorsStatus.feedback.lname" :validation-status="formErrorsStatus.status.lname">
            <n-input v-model:value="formValues.lname" placeholder="Input last name" @input="formErrors.lname = undefined" />
        </n-form-item>

        <n-form-item label="Username" path="username" :feedback="formErrorsStatus.feedback.username" :validation-status="formErrorsStatus.status.username">
            <n-input v-model:value="formValues.username" placeholder="Input username" @input="formErrors.username = undefined" />
        </n-form-item>

        <n-form-item label="Email" path="email" :feedback="formErrorsStatus.feedback.email" :validation-status="formErrorsStatus.status.email">
            <n-input v-model:value="formValues.email" placeholder="Input email" @input="formErrors.email = undefined" />
        </n-form-item>

        <n-form-item label="Password" path="password" :feedback="formErrorsStatus.feedback.password" :validation-status="formErrorsStatus.status.password">
            <n-input v-model:value="formValues.password" placeholder="Input password" @input="formErrors.password = undefined" />
        </n-form-item>

        <div class="flex gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Submit</n-button>
        </div>

    </n-form>
</template>
<script>
import API from '~/api'
import { computedErrors } from '~/helpers/naive-tools.js'
export default {
    data() {
        return {
            formValues: {},
            formDisabled: false,
            formRules: {
                fname: {
                    required: true,
                    message: 'Please input first name',
                    trigger: ['input', 'blur'],
                },
                mname: {
                    required: true,
                    message: 'Please input middle name',
                    trigger: ['input', 'blur'],
                },
                lname: {
                    required: true,
                    message: 'Please input last name',
                    trigger: ['input', 'blur'],
                },
                username: {
                    required: true,
                    message: 'Please input username',
                    trigger: ['input', 'blur'],
                },
                email: {
                    required: true,
                    message: 'Please input email',
                    trigger: ['input', 'blur'],
                },
                password: {
                    required: true,
                    message: 'Please input password',
                    trigger: ['input', 'blur'],
                }
            },
            formErrors: {}
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await API.post(`/admins`, this.formValues)
                this.$emit('success', data)

            } catch (e) {
                const { errors } = e.response.data
                if (errors) this.formErrors = errors
            }
            this.formDisabled = false
        }
    },
    computed: {
        formErrorsStatus() {
            return computedErrors(this.formErrors)
        }
    }
}
</script>