<template>
    <n-form :disabled="formDisabled" :model="formValues" :rules="formRules" ref="formRef" @submit.prevent="submitForm()">

        <n-form-item label="Acronym" path="acronym" :feedback="formErrorsStatus.feedback.acronym" :validation-status="formErrorsStatus.status.acronym">
            <n-input v-model:value="formValues.acronym" placeholder="Input Acronym" @input="formErrors.acronym = undefined" />
        </n-form-item>

        <n-form-item label="Title" path="title" :feedback="formErrorsStatus.feedback.title" :validation-status="formErrorsStatus.status.title">
            <n-input v-model:value="formValues.title" placeholder="Input Title" @input="formErrors.title = undefined" />
        </n-form-item>

        <div class="flex gap-2 justify-end">
            <n-button :disabled="formDisabled" @click="$emit('cancel')">Cancel</n-button>
            <n-button :disabled="formDisabled" :loading="formDisabled" attr-type="submit" type="primary">Submit</n-button>
        </div>

    </n-form>
</template>
<script>
import API from '~/api'
import { computedErrors } from '~/helpers/naive-tools.js'
export default {
    props: {
        id: { type:[Number, String], required: true },
        modelValue: {type:Object, default:{}}
    },
    data() {
        return {
            formValues: {...this.modelValue},
            formDisabled: false,
            formRules: {
                title: {
                    required: true,
                    message: 'Please input title',
                    trigger: ['input', 'blur'],
                },
                acronym: {
                    required: true,
                    message: 'Please input acronym',
                    trigger: ['input', 'blur'],
                }
            },
            formErrors: {}
        }
    },
    methods: {
        async submitForm() {
            try {
                await this.$refs.formRef.validate()
            } catch (e) {
                return false
            }

            this.formDisabled = true
            try {
                const { data } = await API.put(`/courses/${this.id}`, this.formValues)
                this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                this.$emit('success')

            } catch (e) {
                const { errors } = e.response.data
                if (errors) this.formErrors = errors
            }
            this.formDisabled = false
        }
    },
    computed: {
        formErrorsStatus() {
            return computedErrors(this.formErrors)
        }
    }
}
</script>