<template>
    <div>
        <n-button :loading="loading" :disabled="loading" size="large" :type="btnType.type" @click="submitForm()">{{ btnType.text }}</n-button>
    </div>
</template>
<script>
import API from '~/api'
export default {
    props: {
        id: {type:[String, Number], required:true},
        modelValue: {type:Object, default:{}}
    },
    data() {
        return {
            loading: false,
        }
    },
    methods: {
        async submitForm() {
            if (this.modelValue.published) {
                if (!confirm("Are you sure you want to unpublish this subject?")) return
            }

            this.loading = true
            try {
                const { data } = await API.put(`/subjects/publish/${this.id}`)
                this.$emit('update:modelValue', Object.assign(this.modelValue, data))
                this.$emit('success')
                const msg = (this.modelValue.published) ? 'unpublished' : 'published'
                window.$message.success(`Subject ${msg} successfully!`)
            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422) window.$messageAlert.error(data, 'Publish not allowed')
            }

            this.loading = false
        }
    },
    computed: {
        btnType() {
            if (this.modelValue.published) {
                return { type:'default', text:'Published' }
            } else {
                return { type:'success', text:'Publish' }
            }
        }
    }
}
</script>
