<template>
    <div>
        <n-button v-if="!modelValue.questions" type="success" @click="showQuestionsDrawer = true">Add Questionnaire</n-button>
        <div v-else class="flex flex-row gap-2">
            <n-button :loading="questionDisabled" :disabled="questionDisabled" @click="showQuestionsDrawer = true">Change</n-button>
            <n-button :disabled="questionDisabled" @click="confirmDelete()" title="Remove questionnaire"><n-icon><TrashBinIcon/></n-icon></n-button>
        </div>

        <n-drawer v-model:show="showQuestionsDrawer" width="500" placement="right">
            <n-drawer-content title="Questionnaires" closable>
                <n-radio-group v-model:value="questionValue" name="questionnaire" style="width:100%">
                    <div class="flex flex-col gap-2 mt-4">
                        <div v-for="(q, i) in questions" :key="i">
                            <n-radio :value="q.id" size="large" style="width:100%" class="p-2 hover:bg-blue-50">
                                <div class="flex-1">
                                    <div class="font-medium">{{ q.title }}</div>
                                    <div class="flex flex-row gap-2 text-sm text-gray-600">
                                        <div>By <b>{{ q.admin.fullname }}</b></div>
                                        <div><b>{{ q.items.length }}</b> Items</div>
                                        <div v-if="q.time">Timer: <b>{{ q.time_str }}</b></div>
                                    </div>
                                </div>
                            </n-radio>
                        </div>
                    </div>
                </n-radio-group>
                <template #footer>
                    <n-button v-if="questionValue" :loading="questionDisabled" :disabled="questionDisabled" @click="submitForm()" type="success" size="large" class="mr-2">Submit</n-button>
                    <n-button :disabled="questionDisabled" @click="showQuestionsDrawer = false" size="large">Cancel</n-button>
                </template>
            </n-drawer-content>
        </n-drawer>
    </div>
</template>
<script>
import API from '~/api'
import { NDrawer, NDrawerContent, NIcon } from 'naive-ui'
import { Trash as TrashBinIcon } from '@vicons/ionicons5'
export default {
    props: {
        modelValue: {type:Object, default:{}}
    },
    components: { NDrawer, NDrawerContent, NIcon, TrashBinIcon },
    data() {
        return {
            showQuestionsDrawer: false,
            questions: [],
            questionValue: null,
            questionDisabled: false,
        }
    },
    methods: {
        async getSubjects() {
            try {
                const { data } = await API.get('/questions?all=1&no_subjects=1')
                this.questions = data
            } catch (e) {
                const { data } = e.response
                window.$messageAlert.error(data, 'Error')
            }
        },
        async submitForm() {
            const { id, title, courses_id } = this.modelValue
            this.questionDisabled = true
            try {
                const { data } = await API.put(`/subjects/${id}`, {
                    title, courses_id,
                    questions_id: this.questionValue
                })

                const questions = this.questions.find(e => e.id == this.questionValue)
                this.$emit('update:modelValue', Object.assign(this.modelValue, {...data, questions}))
                this.$emit('success')
                this.showQuestionsDrawer = false
                window.$message.success("Subject updated successfully!");

            } catch (e) {
                const { data } = e.response
                if (e.response.status == 422) window.$messageAlert.error(data, 'Questionnaire not allowed')
            }

            this.questionDisabled = false
        },
        confirmDelete() {
            if (!confirm("Are you sure you wan't to remove the questionnaire?")) return
            this.submitForm()
        }
    }, 
    watch: {
        showQuestionsDrawer(val) {
            if (val) this.getSubjects()
        }
    } 
}
</script>